<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.event, size: 50), comment.event %>
  <span class="event"><%= link_to comment.event, comment.event %></span>
  <span class="content"><%= comment.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
</li>
