<%= simple_form_for @comment do |f| %>
    <%= f.input :content, required: true%>
    <%= f.input :user_id, required: true, :as => :hidden, :input_html => { :value => current_user.id }%>
    <%= f.input :event_id, required: true, :as => :hidden, :input_html => { :value => 1}%>
    <%= f.button :submit, "Comentar" %>
<% end %>
