<%= simple_form_for @event do |f| %>
    <%= f.input :name, required: true%>
    <%= f.input :location, required: true %>
    <%= f.input :vacancies, required: true%>
    <%= f.input :description, required: true%>
    <%= f.input :imageUrl, required: true%>
    <%= f.input :user_id, required: true, :as => :hidden, :input_html => { :value => current_user.id }%>
    <%= f.input :date, as: :date, required: true %>
    <%= f.button :submit %>
<% end %>
