<%= stylesheet_link_tag    'events/application',
            media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Eventos
                    <small>cadastrados</small>
                </h1>
            </div>
        </div>

<div class="row">
  <% @events = @events.sort_by{|e| e[:date]}%>
  <% @events = @events.sort_by{|e| -e[:vacancies]}%>
    <% @events.each do |event| %>
    <% if event.status != 1 %>
      <div class="col-md-4 portfolio-item">
          <h2><%= event.name %></h2>
          <%= image_tag(event.imageUrl, width: '350', height: '200')%>
          <h3>
              <%= link_to 'Visualizar', event %>
          </h3>
          <% if current_user != nil %>
          <p>Compartilhar: <%= social_share_button_tag(event.name, :url => "eventize.com", :image => event.imageUrl, desc: event.description, via: "Eventize") %></p>
          <% if current_user.attending?(event) %>
            <p>Irei Participar!</p>
          <% end %>
          <% end %>
          <p>Localização: <%= event.location %></p>
          <p>Vagas: <%= event.vacancies %></p>
          <p>Data: <%= event.date.strftime("%d/%m/%Y") %></p>
          <p>Horario: <%= event.date.strftime("%I:%M%p") %></p>
      </div>
    <% end %>
  <% end %>
</div>
