<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i><%= @event.name %></h4>
      </div>
    </div>
  </div>
  <div class="col-md-8 portfolio-item">
    <%= image_tag(@event.imageUrl, width: '700', height: '400')%>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i>Localização</h4>
      </div>
      <div class="panel-body">
        <p><%= @event.location %></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i>Data</h4>
      </div>
      <div class="panel-body">
        <p><%= @event.date.strftime("%d/%m/%Y")%></p>
        <p><%= @event.date.strftime("%I:%M%p")%></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i>Vagas</h4>
      </div>
      <div class="panel-body">
        <p>Vagas: <%= @event.vacancies%></p>
        <p>Participantes: <%= @event.users_participating.count %></p>
        <%= link_to 'Ver participantes', participants_event_path(@event.id) %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i>Descrição</h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <textarea readonly class="form-control" rows="5" id="comment"><%= @event.description%></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Comentários</div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Comentario</th>
    </tr>
    <% @event.comment.each do |comment| %>
    <tr>
      <td></td>
      <td><%= comment.user.name %></td>
      <td><%= comment.content %></td>
    </tr>
    <% end %>
  </table>
</div>
<% if current_user != nil %>
<%= simple_form_for (current_user.comments.build) do |f| %>
    <%= f.input :content, required: true, label: "Comentario"%>
    <%= f.input :user_id, required: true, :as => :hidden, :input_html => { :value => current_user.id }%>
    <%= f.input :event_id, required: true, :as => :hidden, :input_html => { :value => @event.id }%>
    <%= f.button :submit, "Comentar"%>
<% end %>
  <% if current_user.id == @event.user_id %>
    <%= link_to 'Editar', edit_event_path(@event) %> |
    <%= link_to 'Excluir', @event, method: :delete, data: { confirm: 'Tem certeza?' } %> |
  <% end %>
<%= link_to 'Voltar', events_path %>
<%= social_share_button_tag(@event.name, :url => "eventize.com", :image => @event.imageUrl, desc: @event.description, via: "Eventize") %>
<% if current_user.attending?(@event) %>
  <%= simple_form_for (current_user.active_relationships.find_by(event_id: @event.id)), :html => { :method => "delete" } do |f| %>
    <%= f.button :submit, "Não pariticipar"%>
  <% end %>
<% else %>
  <%= simple_form_for (current_user.active_relationships.build) do |f| %>
      <%= f.input :event_id, required: true, :as => :hidden, :input_html => { :value => @event.id }%>
      <%= f.button :submit, "Participar"%>
  <% end %>
<% end %>
<% else %>
<%= link_to 'Voltar', events_path %>
<% end %>
