<% provide(:title, @title) %>

<div class="panel panel-default">
  <div class="panel-heading">Participantes do evento <%= @event.name %></div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Nome</th>
    </tr>
    <tr>
      <% count = 0 %>
      <% @participants.each do |user| %>
        <td><%= count = count + 1 %></td>
        <td><%= user.name %></td>
      <% end %>
    </tr>
  </table>
</div>
<%= link_to 'Voltar', event_path(@event.id) %>
