/*************************************************************
* Vertical and horizontal align
**************************************************************/

html, body {
  height: 100%;
}

.container {
  height: 100%;
}
table {
    table-layout: fixed;
    width: 100%;
}

table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

.vertical-centering {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-centering {
  width: 50%;
  margin: auto;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.table th {
   text-align: center;
}
textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}
