<!DOCTYPE html>
<html>
    <head>
      <title>Eventize</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all',
                                 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
              <body>
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%= link_to root_path do%> <h10 class="navbar-brand">Eventize</h10> <% end %>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><%= link_to root_path do%>Eventos<% end %></li>
                  <% if current_user %>
                  <li><%= link_to 'Novo Evento', new_event_path %></li>
                  <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <% if current_user %>
                  <li><a href="#profile"><%= current_user.name %></a></li>
                  <li><%= image_tag(current_user.image, width: '50', height: '50')%></li>
                  <li><%= link_to "Sair", 'sign_out', method: :delete%></li>
                  <% else %>
                  <li><%= link_to "auth/facebook" do%>Login<% end %></li>
                  <% end %>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>

          <div class="container">
            <div class="starter-template">
                <%= yield %>
            </div>
          </div><!-- /.container -->
        </body>
</html>
